.Sidebar {
    height: calc(100vh - var(--navbar-height));
    width: var(--sidebar-width);
    background: var(--inverted-bg-color);
    position: relative;
    transition: width 0.3s;
}
.collapseBtn {
    position: absolute !important;
    right: -32px !important;
    bottom: 32px !important;
}

.switchers {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.lang {
    margin-left: 20px;
    display: flex;
    text-align: center;
}



.items {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.link {
    margin-top: 10px;
    opacity: 1;
}

.icon {
    fill: var(--primary-color);
}


.collapsed {
    width: var(--sidebar-width-collapsed);
    .switchers {
        flex-direction: column;
        align-items: center;
    }
    .lang {
        margin-left: 0;
    }
    .link{
        opacity: 0;
        transition: 0.3s opacity;
        width: 0;
    }
}


