:root{
    --bg-color:#e8e;
    --inverted-bg-color:#0e0e75;

    --primary-color: #4b0496;
    --primary-color: #3a04ff;

    --inverted-primary-color: #049604;
    --inverted-primary-color: #04ff04;


}